<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark mr-1 sticky-top ">
  <a class="navbar-brand " href="/">Im Bored</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon float-right" ></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup" >
    <div class="navbar-nav  " style="width: 100%" >
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link " href="/profile">Profile</a>
      <a class="nav-item nav-link" href="/about">About</a>
      <a class="nav-item nav-link" href="/create">Add idea <a>
      	{% if user.is_authenticated %}
  <p style="color: white" >Hi {{ user.username }}!</p>
  <a class="nav-item nav-link" href="{% url 'logout' %}">logout</a>
{% else %}
  <p style="color: white; text-align:right;" >You are not logged in</p>
  <a  class="nav-item nav-link" href="{% url 'login' %}">Login</a>
  <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
{% endif %}
    </div>
  </div>
</nav>
 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Im Bored</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse nbr" id="navbarNav">
    <ul class="navbar-nav " >
      
      <li class="nav-item ">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
        {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
          {% endif %}
    
</ul>
    <div class=" navbar-nav justify-content-end" style="width: 100%;">
      {% if user.is_authenticated %}
        </li>
        <p style="color: white" >Hi {{ user.username }}!</p>
         <li class="nav-item">
        <a class="nav-link " href="/create">Add idea</a>
      </li>
        <li class="nav-item">
  <a class="nav-item nav-link" href="{% url 'logout' %}">logout</a>
      </li>
      {% else %}
      <p style="color: white; text-align:right;" >You are not logged in</p>
      <li class="nav-item">
          
  <a  class="nav-item nav-link" href="{% url 'login' %}">Login</a>
      </li>
          </li>
        <li class="nav-item">
       <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>

      </li>
      {% endif %}
      </div>
  </div>
</nav>